@charset 'utf-8';

$primary: #9f7be1;
$secondary: #24292e;
$gray:#586069;
$lighten:rgba(255,255,255,0.65);
$border_btn_color: #150a27;
$default-font: sans-serif;
$secondary-font:'Raleway', sans-serif;

$tel-lg: 500px;
$tablet-sm: 700px;
$computer: 1000px;
$computer-lg: 1300px;
